/*  ---------- Estilos Gerais -------- */ 
body{
    margin: 0px;
    color:#b9b6b0;
    font-family: 'Montserrat', sans-serif;

}
li{
    line-height:150%;
}
#mainContainer {
    display: block;
    max-width: 1440px;
    min-width: 290px;
    margin: 0 auto;
    padding: 0;
    background: url("./assets/textura.png"), repeat;    
}

h1,h2 {
    margin: 0px;
}
h1 {
    font-family: 'Dancing Script', cursive;
}

.highPass:hover{
    background-color: rgba(166,140,124,.45);
    color:#8C3D20;
    cursor: pointer;

}
/* ------------------- header ------------- */

#containerSlide img{
    max-width: 100%;
    margin: 0; 
    padding: 0;
}
#containerSlide{
background-color: rgb(166,140,124,.7);
}
.beforeImage,.afterImage {
    margin: 0;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    height: 4vw;
    background-color: rgb(166,140,124, 0.3);
    display: block;
}
.afterImage{
   margin-top:calc(-4vw - 3.5px);
}

@keyframes fadeInOut {
    0% { opacity: .9; }
    50% { opacity: 1; }
    100% { opacity: .9; }
}
  
.transitioning-image {
    animation: fadeInOut 5s infinite;
    background-color: rgb(166,140,124, 0.3);
  }
  
#introduction{
    display: flex;
    position: absolute;
    width: 100%;
    top:100px;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
}
#introduction h1{
    max-width: 600px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
#introduction p {
    font-family: 'Dancing Script', cursive;
    padding-left: 300px;
    font-size: 20px;
}



/* ---------------Frases------------------- */
#frase{
    background-color: rgba(89,37,18,.95);
    padding: 40px 0px 40px 0px;
    margin: -5px 0px 0px 0px;
    border-top: 4px solid #b9b6b0;


}
#frase h1{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
#frase p{
    max-width: 100px;
    margin: 20px 30% 0 auto;
    font-family: 'Montserrat', sans-serif;
}
/*----------------infos--------------------*/
#infoContainer{
    background-color: rgba(89,37,18,.95);
    padding: 40px 0px 40px 0px;
    margin: 0px;
    border-top: 3px solid #b9b6b0;

}

#infoContainer h1{
    margin-bottom: 30px;
    text-align: center;
}
#infoContainer h1::after{
    content: " ";
    display: block;
    width: 140px;
    margin: 10px auto 0 auto;
    border: 1px solid #b9b6b0;
    background-color: #b9b6b0;
}
#infoContent{
    max-width: 960px;
    display: block;
    margin: 0 auto;
    padding: 30px;
}
/*---------------Contador -----------------*/
#container_contador{
    background-color: rgba(89,37,18,.95);
    margin: 0px;
    padding: 40px 0px 40px 0px;
    margin: -5px 0px 0px 0px;
    border-top: 3px solid #b9b6b0;
    border-bottom: 3px solid #b9b6b0;
}
#container_contador h1{
    margin-bottom: 30px;
    text-align: center;
}

#container_contador h1::after{
    content: " ";
    display: block;
    width: 140px;
    margin: 10px auto 0 auto;
    border: 1px solid #b9b6b0;
    background-color: #b9b6b0;
}
#container_contador ul{
    list-style: none;
    display: flex;
    margin:0 auto;
    max-width: 700px;
    justify-content: space-around;
    padding: 0px;
}
#container_contador ul li{
    display: flex;
    font-size: 16px;
    width: 120px;
    height:100px;
    border:  2px solid #b9b6b0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    padding-top:5px
}
#container_contador ul li p{
    font-size: 20px;
    padding:0px;
    margin:0px;
    padding-bottom: 10px;
}
/* ------------- Presentes ----------------*/
#containerPresentes {
    margin-top: -5px;
    max-width: 1440px;
    background-color: rgba(89,37,18,.95);
    padding:30px;
    border-top: 3px solid #b9b6b0;
}
#containerPresentes h1{
    text-align: center;
    letter-spacing: .1em;
    color: #b9b6b0;
    text-transform: capitalize;
}
#containerPresentes h1::after{
    content: " ";
    display: block;
    width: 140px;
    margin: 10px auto 0 auto;
    border: 1px solid #b9b6b0;
    background-color: #b9b6b0;
}

#containerPresente{
    max-width: 600px;
    background-color: rgba(140,89,59,.4);
    margin:50px auto 0 auto;
    border:2px solid #b9b6b0;

    border-radius: 40px;
    padding: 30px 60px 0 60px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px 10px;
}
#giftShown{
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    max-width: 960px;
    flex-wrap: wrap;
}
.infoPresentes{
    text-align: center;
    padding:5px 10px;
}
#presentesInfo{
    display: block;
    margin:0 auto;
    max-width:960px;
}
#presentesInfo p{
    line-height: 150%;
    text-indent: 30px;
}
#containerPresente div {
    margin-right: 20px;
}
#containerPresente h2{
    letter-spacing: .07em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
#containerPresente h1::after{
    content:none;
}
#containerPresente h2 span{
    background-color: blue ;
}
#containerPresente div a{
    text-decoration: none;
    color:#b9b6b0;
}
#containerPresente div a:hover{
    text-decoration: underline;
}
#containerPresente div{
    display: block;
    margin: 0 auto;
    width: 240px;
    padding: 15px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}
#containerPresente div button {
    display: block;
    margin: 20px auto;
    width:200px;
    height: 40px;
    border-radius: 20px;
    color:#b9b6b0;
    border:2px solid #b9b6b0;
    background-color:rgba(140, 89, 59, 0.4);
    text-transform: uppercase;
    letter-spacing: .1rem;
}
#containerPresente div button:hover{
    background-color: rgba(166,140,124,.45);
    color:#8C3D20;
    cursor: pointer;
}
#containerPresente div img{
    width: 200px;
    height: 180px;
    border-radius: 30px;
}
#containerPresente div h2{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
} 
#containerPresente div h3{
    margin: 10px 0;
} 

/* ------------- Rodapé ------------- */
footer{
    max-width: 1440px;
    text-align: center;
    background-color: rgba(89,37,18,.95);
    border-top: 2px solid #d9d6d0;
    padding:20px;
    color:#d9d6d0
}
footer a{
    text-decoration: none;
    color:#d9d6d0;
}
footer a:hover{
    color:#8C3D20;
}



/* ------------Modal-----------------*/
#modal {
    position: fixed;
    top:0px;
    width: 100%;
    display: block;
    max-width: 1440px;
    background-color:  rgba(89,37,18,.9);
    min-height: 100vh;
}
#modalForm {
    padding: 20px 0;
    margin: 20vh auto 0 auto;
    width: 600px;
    height: 300px;
    background-color: rgba(140,89,59,.45);
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 50px;
    border: 2px solid #d9d6d0;
}
#modalForm div {
    padding: 15px 0;
    display: inline-flex;
    align-items: center;

}
.textLike input{
    width: 300px;
    height: 30px;
    padding: 0px;
    border: 2px solid #d9d6d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.textLike label, .textLike input{
    background-color: rgba(140,61,32,.45);
    color:#d9d6d0;
    text-align: center;
}
.textLike label{
    width: 70px;
    height: 25px;
    padding-top: 5px;
    border: 2px solid #d9d6d0;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.textLike input:focus{
    outline: none;
    background-color: #A68C7C;
    color:#8C3D20;
}
.closeModal{
    display:block;
    position:relative;
    top:-320px;
    left:300px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color:#d9d6d0;
    background-color: rgb(140,61,32);
    border:2px solid #d9d6d0;
}
#concordo {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.labelTextoModal {
    color:#d9d6d0;
    text-align: center;
}
.labelTextoModal:hover {
    cursor: pointer;
}

.btn{
    font-size: 20px;
    text-transform: uppercase;
    color:#d9d6d0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    border-radius: 20px;
    border: 2px solid #d9d6d0;
    background-color: rgba(140,61,32,.45);

}
#obs{
    display: block;
    position: relative;
    top:-60px;

}
@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.carregando{
    display: block;
    position:relative;
    top:-53px;
    width: 12px;
    height: 12px;
    padding: 12px 7px;
    border-radius: 50%;
    animation: loading linear 2s infinite;
    border: 3px solid #d9d6d0 ;
    border-right: 3px solid #8C3D20;
  
    background-color: rgba(140,89,59,.45);
    color: rgba(140,89,59,.45);
}

/*  -------------------  wpp  -------------------------          */

#whatsapp{
    max-width: 1440px;
    background-color:rgba(89,37,18,.95);
    padding: 10px;
    padding-bottom: 50px;
}
#whatsapp a{
    display: flex;
    width: 250px;
    margin: 0 auto;
    justify-content: space-around;
    text-decoration: none;
    color:#b9b6b0;
    border: 2px dotted #b9b6b0;
    border-radius: 20px;
    padding-bottom: 10px;
}
#whatsapp a:hover{
    border-color: aliceblue;
    color:aliceblue;
}
#whatsapp p{
    width: 100px;
    text-align: center;
    padding: 10px 20px 0 0;
}
#whatsapp img{
    width: 70px;
    height: 70px;
    padding-top: 10px;
}

/* responsividade*/
@media (max-width: 840px ){
    
    #modalForm {
        padding-top: 20px;
        margin-top:10vh;
        height: 270px;
    }
    #modalForm h1{
        text-align: center;
        font-size: 36px;
    }
    #modalForm div {
        padding: 5px 0;
    
    }
    
    #concordo{
        margin-left: 20px;
        width: 30px;
        height: 30px;
        padding-bottom: 20px;
    }
    .labelTextoModal{
        max-width: 400px;
        text-align: center;
        padding-bottom: 20px;
        font-size: 16px;
    }
    .closeModal{
        top:-280px;
        left:290px;
    }
    #obs{
        max-width:400px;
        text-align: center;
        font-size: 16px;
    }
}
@media (max-width: 650px ){
    
    #modalForm {
        max-width: 400px;
    }
    #modalForm h1{
        font-size: 26px;
        padding-bottom: 10px;
    }
    #modalForm div {
        padding: 5px 0;
    }
    
    #concordo{
        font-size: 10px;
    }
    .labelTextoModal{
        font-size: 16px;
    }
    .closeModal{
        top:-280px;
        left:200px;
    }
    #obs{
        max-width:400px;
        text-align: center;
        font-size: 16px;
    }

    #container_contador ul li {
        width: 100px;
        height: 100px;
    }
    #container_contador ul li p{
        font-size: 15px;
        padding-bottom: 5px;
    }
}
@media (max-width: 435px ){
   
    #modalForm {
        width: 290px;
        height: 470px;
        margin: 15vh auto 0 auto;
        padding:30px;
    }
    #modalForm h1{
        padding-bottom: 15px;
    }

    .textLike{
        flex-direction: column;
    }
    .textLike label{
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-right: 2px solid #b9b6b0;
        border-bottom: none;
    }
    .textLike input{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 280px;
        height: 45px;
        
    }
    #modalForm div {
        padding: 15px 0;
    }
    #concordo{
        margin-left: 10px;
        font-size: 16px;

    }
    .labelTextoModal{
        max-width: 200px;
        text-align: center;
        padding-bottom: 20px;
        font-size: 16px;
    }
    .closeModal{
        top:-500px;
        left:165px;
        width: 55px;
        height: 60px;
    }
    #obs{
        max-width: 250px;
        text-align: center;
    }
    
    
    #container_contador ul{
        list-style: none;
        display: flex;
        margin:0 auto;
        max-width: 350px;
        justify-content: space-around;
        padding: 0px;
    }
    #container_contador ul li {
        width: 80px;
        height: 80px;
    }
    #container_contador ul li p{
        font-size: 14px;
        padding-bottom: 5px;
    }
}


/*Padrão tamanhos de fonte*/
h1{
    color:#d9d6d0;
    font-size: 40px;
}
h2{
    font-size: 20px;
    font-weight: 700;
    color:#d9d6d0
}
h3, p, li{
    color:#d9d6d0;
    font-size: 16px;
    font-weight: 700;
}