/*  ---------- Estilos Gerais -------- */ 
body{
    margin: 0px;
    color:#b9b6b0;
    font-family: "helvetica", sans-serif;

}
#mainContainer {
    display: block;
    max-width: 1440px;
    min-width: 290px;
    margin: 0 auto;
    padding: 0;
    background: url("./assets/textura.png"), repeat;    
}

h1,h2 {
    margin: 0px;
}

.highPass:hover{
    background-color: rgba(166,140,124,.45);
    color:#8C3D20;
    cursor: pointer;

}
/* ------------------- header ------------- */

#containerSlide img{
    max-width: 100%;
    margin: 0; 
    padding: 0;
}
.beforeImage,.afterImage {
    margin: 0;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    height: 4vw;
    background-color: rgb(166,140,124, 0.3);
    display: block;
}
.afterImage{
   margin-top:calc(-4vw - 3.5px);
}

#introduction{
    display: flex;
    position: absolute;
    width: 100%;
    top:150px;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
}
#introduction h1{
    max-width: 600px;
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
#introduction p {
    font-family: 'Dancing Script', cursive;
    padding-left: 300px;
    font-size: 20px;
}

/*---------------Contador -----------------*/
#container_contador{
    background-color: rgba(89,37,18,.95);
    margin: 0px;
    padding: 40px 0px;
}
#container_contador h1{
    margin-bottom: 30px;
    text-align: center;

}

#container_contador h1::after{
    content: " ";
    display: block;
    width: 200px;
    margin: 10px auto 0 auto;
    border: 1px solid #b9b6b0;
    background-color: #b9b6b0;
}
#container_contador ul{
    list-style: none;
    display: flex;
    margin:0 auto;
    max-width: 700px;
    justify-content: space-around;
    padding: 0px;
}
#container_contador ul li{
    font-size: 16px;
    width: 120px;
    height: 90px;
    padding-top: 20px;
    border:  2px solid #b9b6b0;
    text-align: center;
    border-radius: 15px;
}
/* ------------- Presentes ----------------*/
#containerPresentes {
    margin-top: -5px;
    max-width: 1440px;
    background-color: rgba(89,37,18,.95);
    padding:30px;
    border-top: 3px solid #b9b6b0;
}
#containerPresentes h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1em;
    color: #b9b6b0;
    text-transform: uppercase;
}
#containerPresentes h1::after{
    content: " ";
    display: block;
    width: 150px;
    margin: 10px auto 0 auto;
    border: 1px solid #b9b6b0;
    background-color: #b9b6b0;
}

#containerPresente{
    max-width: 600px;
    background-color: rgba(140,89,59,.4);
    margin:50px auto 0 auto;
    border:2px solid #b9b6b0;
    height: 300px;
    border-radius: 40px;
    padding: 30px 60px 0 60px;
    display: flex;
    justify-content: space-evenly;
    
}
#containerPresente div {
    margin-right: 20px;
}
#containerPresente h1{
    letter-spacing: .07em;
    text-transform: capitalize;
    font-size: 25px;
    width: 100%;
}
#containerPresente h1::after{
    content:none;
}
#containerPresente h2 span{
    background-color: blue ;
}
#containerPresente div a{
    text-decoration: none;
    color:#b9b6b0;
}
#containerPresente div a:hover{
    text-decoration: underline;
}
#containerPresente div{
    width: 250px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-evenly;
}
#containerPresente div button {
    display: block;
    margin: 0 auto;
    width:200px;
    height: 40px;
    border-radius: 20px;
    color:#b9b6b0;
    border:2px solid #b9b6b0;
    background-color:rgba(140, 89, 59, 0.4);
    text-transform: uppercase;
    letter-spacing: .1rem;
}
#containerPresente div button:hover{
    background-color: rgba(166,140,124,.45);
    color:#8C3D20;
    cursor: pointer;
}
#containerPresente div img{
    width: 250px;
    min-height: 250px;
    border-radius: 30px;
}
/* ------------- Rodapé ------------- */
footer{
    max-width: 1440px;
    text-align: center;
    background-color: rgba(89,37,18,.95);
    border-top: 2px solid #d9d6d0;
    padding:20px;
    color:#d9d6d0
}
footer a{
    text-decoration: none;
    color:#d9d6d0;
}
footer a:hover{
    color:#8C3D20;
}



/* ------------Modal-----------------*/
#modal {
    position: fixed;
    top:0px;
    width: 100%;
    display: block;
    max-width: 1440px;
    background-color:  rgba(89,37,18,.9);
    min-height: 100vh;
}
#modalForm {
    padding: 20px 0;
    margin: 20vh auto 0 auto;
    width: 600px;
    height: 300px;
    background-color: rgba(140,89,59,.45);
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 50px;
    border: 2px solid #d9d6d0;
}
#modalForm div {
    padding: 15px 0;
    display: inline-flex;
    align-items: center;

}
.textLike input{
    width: 300px;
    height: 30px;
    padding: 0px;
    border: 2px solid #d9d6d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.textLike label, .textLike input{
    background-color: rgba(140,61,32,.45);
    color:#d9d6d0;
    text-align: center;
}
.textLike label{
    width: 70px;
    height: 25px;
    padding-top: 5px;
    border: 2px solid #d9d6d0;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.textLike input:focus{
    outline: none;
    background-color: #A68C7C;
    color:#8C3D20;
}
.closeModal{
    display:block;
    position:relative;
    top:-320px;
    left:300px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color:#d9d6d0;
    background-color: rgb(140,61,32);
    border:2px solid #d9d6d0;
}
#concordo {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.labelTextoModal {
    color:#d9d6d0;
    text-align: center;
}
.labelTextoModal:hover {
    cursor: pointer;
}

.btn{
    font-size: 20px;
    text-transform: uppercase;
    color:#d9d6d0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    border-radius: 20px;
    border: 2px solid #d9d6d0;
    background-color: rgba(140,61,32,.45);

}
#obs{
    display: block;
    position: relative;
    top:-60px;

}
@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.carregando{
    display: block;
    position:relative;
    top:-53px;
    width: 12px;
    height: 12px;
    padding: 12px 7px;
    border-radius: 50%;
    animation: loading linear 2s infinite;
    border: 3px solid #d9d6d0 ;
    border-right: 3px solid #8C3D20;
  
    background-color: rgba(140,89,59,.45);
    color: rgba(140,89,59,.45);
}

/*  -------------------  wpp  -------------------------          */

#whatsapp{
    max-width: 1440px;
    background-color:rgba(89,37,18,.95);
    padding: 10px;
    padding-bottom: 50px;
}
#whatsapp a{
    display: flex;
    width: 250px;
    margin: 0 auto;
    justify-content: space-around;
    text-decoration: none;
    color:#b9b6b0;
    border: 2px dotted #b9b6b0;
    border-radius: 20px;
    padding-bottom: 10px;
}
#whatsapp a:hover{
    border-color: aliceblue;
    color:aliceblue;
}
#whatsapp p{
    width: 100px;
    text-align: center;
    padding: 10px 20px 0 0;
}
#whatsapp img{
    width: 70px;
    height: 70px;
    padding-top: 10px;
}


/*   ---------------- Responsividade -------------------   */
@media (max-width: 920px ){
    /* introdução*/
    #introduction{
        top: 80px;
    }
    #introduction h1{
        max-width: 400px;
        font-size: 20px;
    }
    #introduction p{
        font-size: 15px;
    }
    /*presentes*/
    #containerPresentes h1{
        font-size: 20px;
    }
    #containerPresentes h1::after{
        max-width: 80px;
    }
    #containerPresente h2{
        font-size: 15px;
        padding-left: 20px;
    }
    #containerPresente div img{
        width: 230px;
    }

}
@media (max-width: 670px) {
    #modalForm {
        width: 500px;
        height:320px;
    }
    .closeModal{
        top:-320px;
        left:240px;
    }
    .labelTextoModal{
        max-width: 300px;
        text-align: center;
        padding-bottom: 20px;
    }
}
@media (max-width: 540px ){
    #introduction{
        top: 60px;
    }
    #introduction h1{
        max-width: 270px;
        font-size: 12px;
    }
    #introduction p{
        font-size: 12px;
        padding-left:100px;
    }

    #containerPresente{
        max-width: 350px;
        flex-direction: column;
        height: 500px;
        align-items: center;
        padding:40px 0 0 0;

    }
    #containerPresente img{
        height: 230px;
        margin-left: 10px;
    }
    #containerPresente div {
        height: 200px;
        margin-right: 0px;
        padding: 0px;
    }
    #modalForm {
        width: 310px;
        height: 400px;
    }
    .textLike{
        flex-direction: column;
    }
    .textLike label{
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-right: 2px solid #b9b6b0;
        border-bottom: none;
    }
    .textLike input{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #concordo{
        margin-left: 20px;
        width: 40px;
        height: 40px;
        padding-bottom: 20px;
    }
    .labelTextoModal{
        max-width: 200px;
        text-align: center;
        padding-bottom: 20px;
    }
    .closeModal{
        top:-415px;
        left:140px;
    }
    #obs{
        max-width: 250px;
        text-align: center;
    }
}
@media (max-width: 340px ){
    #introduction{
        top: 40px;
    }
    #introduction h1{
        max-width: 280px;
    }
    #introduction p{
        padding-left: 100px;
        margin-top: 5px;
        font-size: 10px;
    }
    #containerPresente{
        padding-top: 20px;
    }
    .infoPresentes{
        justify-content: space-around;
        margin-bottom: -20px; 
    }
    #modalForm {
        width: 290px;
        height: 440px;
        margin: 10vh auto 0 auto;
    }
    .textLike{
        flex-direction: column;
    }
    .textLike label{
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-right: 2px solid #b9b6b0;
        border-bottom: none;
    }
    .textLike input{
        width: 280px;
        height: 45px;
    }
    #concordo{
        margin-left: 10px;
    }
    .labelTextoModal{
        max-width: 200px;
        text-align: center;
        padding-bottom: 20px;
    }
    .closeModal{
        top:-450px;
        left:135px;
        width: 55px;
        height: 60px;
    }
    #obs{
        max-width: 250px;
        text-align: center;
    }
    
}